@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: white
}

.login-fundo,
.cadastro-fundo {
    width: 100%;
    min-height: 100vh;
    background-image: url(../asstes/imgs/campo_ensolarado.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}


/* ======================= HEADER ======================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header img {
    width: 5vw;
    height: auto;
    padding: 0 0 0 2.5vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 40px;
}

.navbar a {
    text-decoration: none;
    color: white
}

.navbar a:hover {
    color: rgb(214, 214, 214);
    transition: 0.3s;
    cursor: pointer;
}

.navbar li {
    list-style: none;
    color: white
}

.login {
    background: #fda70f;
    padding: 6px 20px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.login:hover {
    background: #d48b0c;
    transition: 0.3s;
    cursor: pointer;
}

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-card-container {
    width: 420px;
    height: 500px;
    background-color: rgba(48, 107, 23, 0.86);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .card-card-cadastro p {
    color: red;
}

.formulario {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 10px, 20px;
    font-size: 9.8px;
}


.campo .linha-esquerda {
    margin-bottom: 8px;
    margin-top: 4px;
    width: 88%;
}

.campo .linha-direita {
    margin-top: 4px;
    padding-left: 270px;
}




.campo input {
    height: 50px;
    width: 90%;
    background-color: #eaeae5;
    justify-self: center;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    text-align: center;
}

.botaoEntrar, .botao-Cadastrar {
    margin-top: 15px;
    height: 50px;
    width: 90%;
    margin-bottom: 20px;
    background-color: rgba(253, 167, 15, 0.83);
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    font-size: 15.4px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.botaoEntrar:hover, .botao-Cadastrar:hover {
    background-color: rgba(216, 142, 13, 0.83);
    color: #eaeae5;
} 

.botaoCadastrar {
    margin-top: 10px;
    height: 45px;
    width: 95%;
    background: transparent;
    border-radius: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 15.4px;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.botaoCadastrar:hover {
    border-color: #eaeae5;
    background-color: #eaeae5;
    color: #000000;
    cursor: pointer;
}

.ou {
    display: flex;
    align-items: center;
    width: 95%;
    gap: 10px;
}

.ou::before,
.ou::after {
    content: "";
    flex: 1;
    height: 1px;
    background: white;
}

.ou span {
    font-size: 12px;
}

/*Cadastro*/

.card-card-cadastro {
    width: 420px;
    min-height: 500px;
    background-color: rgba(48, 107, 23, 0.86);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mensagem {
    color: white;
    font-weight: bold;
}

.mensagem a {
    color: white;
    font-weight: bold;
}