@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    background-color: #f1f0b0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: white;
    display: flex;

}

/* ======================= HEADER ======================= */


.div_container{
    display: flex;
}
/*MAIN*/
#main {
    padding: 30px;
}

/*ALERTAS*/
#alertas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.alerta {
    border: 1px solid #eb1313;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.alerta span {
    color: #eb1313;
}

#modal {
    width: 40vw;
    height: 40vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #eb1313;
    color: black;
}

.especificacao {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
}
